<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="neton-plugin-nfc"
    version="1.0.0">
    <name>Net On Cordova NFC Plugin</name>
    <description>Cordova nfc plugin to read nfc tags</description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/oaugustus/nfc-plugin.git</repo>
    <issue>https://github.com/oaugustus/nfc-plugin/issues</issue>

    <platform name="android">

        <js-module src="www/phonegap-nfc.js" name="NFC">
            <runs />
        </js-module>

        <!-- requires Cordova-2.8.0 -->
        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="NfcPlugin">
                <param name="android-package" value="br.com.neton.nfc.plugin.NfcPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/br/com/neton/NfcPlugin.java"
                     target-dir="src/android/br/com/neton"/>
        <source-file src="src/android/br/com/neton/Util.java"
                     target-dir="src/android/br/com/neton"/>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.NFC"/>
            <uses-feature android:name="android.hardware.nfc" android:required="false"/>
        </config-file>

    </platform>
</plugin>
